<div class="flex flex-col gap-1">
  <div
    id="collection-entity-container"
    class="w-full p-1.5 flex flex-row items-center gap-2 rounded-sm cursor-pointer hover:bg-gray-200 transition duration-300"
    (click)="this.isOpen.set(!this.isOpen())"
  >
    <lucide-angular
      [img]="isOpen() ? ChevronDownIcon : ChevronRightIcon"
      [size]="16"
    />

    <div class="flex flex-row, items-center gap-1 grow">
      <lucide-angular
        [img]="DatabaseIcon"
        [size]="16"
        class="text-violet-500"
      />

      <span class="text-sm">{{ collectionName() }}</span>
    </div>

    <button
      class="p-1 hover:bg-gray-300 rounded-md cursor-pointer transition duration-300"
    >
      <lucide-angular [img]="ElipsisIcon" [size]="16" />
    </button>
  </div>
  <div>
    @if (isOpen()) { @if (collectionRequests() == undefined) {
    <div class="pl-8">
      <span class="text-xs">This collection is empty.</span>
    </div>
    } @else {
    <div class="flex flex-col gap-1">
      @for (item of collectionRequests(); track $index) {
      <div class="pl-6">
        <app-request-item
          [requestName]="item.requestName"
          [requestType]="item.requestType"
        />
      </div>
      }
    </div>

    } }
  </div>
</div>
